.mainContainer {
  display: flex;
  flex-direction: column;
  gap: calc(var(--square-size) / (1.618 * 2));
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  padding: calc(var(--square-size) / (1.618 * 2))
    calc(var(--square-size) / 1.618 / 5) 0 calc(var(--square-size) / 1.618 / 5);
  gap: calc(var(--square-size) / (1.618 * 15));
}

.container {
  display: flex;
  flex-direction: row;
  padding: 0 calc(var(--square-size) / (1.618 * 1));
}

.linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: calc(var(--square-size) / (1.618 * 2));
}

.body {
  font-family: var(--font-helvetica);
  font-weight: 500;
  font-style: normal;
}

.bodyBI {
  font-family: var(--font-helvetica);
  font-weight: 600;
  font-style: italic;
}

.bodyI {
  font-family: var(--font-helvetica);
  font-weight: 500;
  font-style: italic;
}

.pixelBodyI {
  font-family: var(--font-timetwist);
  font-style: italic;
}

.pixelBodyB {
  font-family: var(--font-timetwist);
  font-weight: bold;
}

.pixelBody {
  font-family: var(--font-timetwist);
  font-weight: normal;
}

.small {
  font-size: calc(var(--title-font-size) / (1.618 * 3));
}
.medium {
  font-size: calc(var(--title-font-size) / (1.618));
}

/* Responsiveness */
@media (max-width: 768px) {
  .mainContainer {
    padding: calc(var(--square-size-m) / (1.618 * 3))
      calc(var(--square-size-m) / (1.618 * 3));
    gap: calc(var(--square-size-m) / (1.618 * 2));
  }
  .aboutContainer {
    padding: 0;
    gap: calc(var(--square-size-m) / (1.618 * 15));
  }
  .container {
    flex-direction: column;
    padding: 0 calc(var(--square-size) / (1.618 * 2));
  }
  .small {
    font-size: calc(var(--title-font-size-m) / (1.618 * 2));
  }
  .medium {
    font-size: calc(var(--title-font-size-m) / (1.618 * 1));
  }
}

@media (max-width: 480px) {
  .mainContainer {
    padding: calc(var(--square-size-s) / (1.618 * 2))
      calc(var(--square-size-s) / (1.618 * 2));
    gap: calc(var(--square-size-s) / (1.618 * 5));
  }
  .aboutContainer {
    padding: 0;
    gap: calc(var(--square-size-s) / (1.618 * 15));
  }
  .container {
    flex-direction: column;
    padding: 0;
  }
  .small {
    font-size: calc(var(--title-font-size-s) / (1.618 * 3));
  }
  .medium {
    font-size: calc(var(--title-font-size-s) / (1.618 * 2));
  }
}
