.aboutContainer {
  display: flex;
  flex-direction: column;
  padding: calc(var(--square-size) / (1.618 * 2))
    calc(var(--square-size) / 1.618 / 5);
  gap: calc(var(--square-size) / (1.618 * 15));
}

.body {
  font-family: var(--font-helvetica);
  font-weight: 600;
}

.pixelBodyI {
  font-family: var(--font-timetwist);
  font-style: italic;
}

.pixelBodyB {
  font-family: var(--font-timetwist);
  font-weight: bold;
}

.pixelBody {
  font-family: var(--font-timetwist);
  font-weight: normal;
}

.small {
  font-size: calc(var(--title-font-size) / (1.618 * 2));
}
.medium {
  font-size: calc(var(--title-font-size) / (1.618));
}
