.header {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-bottom: var(--slate-grey) 1px solid;
}

@media (max-width: 768px) {
  .header {
    display: flex;
  }
}

@media (min-width: 767px) {
  .header {
    display: none;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(0.11 * var(--square-size-mb));
  gap: calc(var(--square-size-mb) * 0.11);
  height: var(--square-size-mb);
  border-bottom: var(--slate-grey) 1px solid;
}

.nameContainer {
  height: calc(var(--title-font-size-mb) * 1.2);
}

.linksContainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: calc(0.012 * var(--square-size-mb))
    calc(0.08 * var(--square-size-mb));
  gap: calc(var(--square-size-mb) * 0.11);
  flex-wrap: wrap;
}
