.header {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-top: var(--slate-grey) 1px solid;
  border-left: var(--slate-grey) 1px solid;
  border-right: var(--slate-grey) 1px solid;
}

@media (max-width: 768px) {
  .header {
    display: flex;
  }
}

@media (min-width: 767px) {
  .header {
    display: none;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(0.11 * var(--square-size-m));
  height: var(--square-size-m);
  border-bottom: var(--slate-grey) 1px solid;
}

.nameContainer {
  height: calc(var(--title-font-size-m));
}

.linksContainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: calc(0.08 * var(--square-size-m)) calc(0.08 * var(--square-size-m));
  gap: calc(var(--square-size-m) * 0.06);
  flex-wrap: wrap;
}

@media (max-width: 640px) {
  .linksContainer {
    padding: calc(0.08 * var(--square-size-s)) calc(0.08 * var(--square-size-s));
    gap: calc(var(--square-size-s) * 0.06);
  }
  .nameContainer {
    height: calc(var(--title-font-size-s));
  }
  .titleContainer {
    padding: calc(0.11 * var(--square-size-s));
    height: var(--square-size-s);
  }
}
