.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: stretch;
  gap: calc((0.1 * var(--square-size)));
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: calc((0.1 * var(--square-size)));
}

.titleContainer {
  display: flex;
  height: fit-content;
  width: stretch;
}

.descContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-items: start;
  gap: calc((0.002 * var(--square-size)));
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  max-height: 500px;
  overflow: hidden;
  transition: transform 0.2s ease-out;
}

.imageContainer:hover {
  transform: scale(1.05);
}

.projectTitle {
  font-family: "Helvetica-Neue", sans-serif;
  font-weight: 600;
  color: var(--slate-grey);
  font-size: calc(var(--title-font-size) / (1.618 * 2));
  text-transform: uppercase;
}

.projectDesc {
  font-family: "Helvetica-Neue", sans-serif;
  font-weight: 500;
  color: var(--slate-grey);
  /* font-style: italic; */
  text-transform: capitalize;
  font-size: calc(var(--title-font-size) / (1.618 * 3));
}

@media (max-width: 768px) {
  .mainContainer {
    gap: calc((0.1 * var(--square-size-mb)));
  }

  .projectTitle {
    font-size: calc(var(--title-font-size-mb) / (1.618 * 2));
  }

  .projectDesc {
    font-size: calc(var(--title-font-size-mb) / (1.618 * 3));
  }

  .descContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-items: center;
    gap: calc((0.002 * var(--square-size-mb)));
  }
}
