.goldenSquash {
  color: #e9b44c;
}

.grassGreen {
  color: #82a36b;
}
.forestGreen {
  color: #2d5948;
}

.text {
  color: #3c3c3b;
}

/* Fonts */

.title {
  color: var(--Grass-Green, #82a36b);
  text-shadow: calc(var(--square-size) * 0.025) calc(var(--square-size) * 0.025)
      0px var(--slate-grey),
    calc(var(--square-size) * 0.05) calc(var(--square-size) * 0.05) 0px #e9b44c;

  /* Display Heading Small */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--Text, #3c3c3b);
  font-family: var(--font-milky), serif;
  font-size: calc(var(--title-font-size));
  font-weight: normal;
  line-height: normal;

  /* Animation */
  animation: textShadowEaseOut 1s ease-out;
}

@keyframes textShadowEaseOut {
  0% {
    text-shadow: 0 0 0px var(--slate-grey), 0 0 0px #e9b44c;
  }
  100% {
    text-shadow: calc(var(--square-size) * 0.025)
        calc(var(--square-size) * 0.025) 0px var(--slate-grey),
      calc(var(--square-size) * 0.05) calc(var(--square-size) * 0.05) 0px
        #e9b44c;
  }
}

@keyframes textShadowEaseOutMed {
  0% {
    text-shadow: 0 0 0px var(--slate-grey), 0 0 0px #e9b44c;
  }
  100% {
    text-shadow: calc(var(--square-size-m) * 0.025)
        calc(var(--square-size-m) * 0.025) 0px var(--slate-grey),
      calc(var(--square-size-m) * 0.05) calc(var(--square-size-m) * 0.05) 0px
        #e9b44c;
  }
}

.subtitle {
  font-family: var(--font-helvetica), sans-serif;
  font-optical-sizing: auto;
  font-size: calc(var(--title-font-size) / (1.618 * 2));
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.heading {
  font-family: var(--font-helvetica), sans-serif;
  font-size: calc(var(--title-font-size) / (1.618 * 2));
  font-weight: 600;
  text-transform: uppercase;
}

.heading1 {
  font-family: var(--font-helvetica), sans-serif;
  font-size: calc(var(--title-font-size) / (1.618 * 2));
  font-weight: 700;
  text-transform: capitalize;
}

.heading2 {
  font-family: var(--font-helvetica), sans-serif;
  font-size: calc(var(--title-font-size) / (1.618 * 3));
  font-weight: 700;
  text-transform: uppercase;
}

.h2Height {
  padding-top: calc(var(--title-font-size) * 0.02);
  height: calc(var(--title-font-size) / (1.618 * 2));
}

.body {
  font-family: var(--font-helvetica), sans-serif;
  font-size: calc(var(--title-font-size) / (1.618 * 3));
  font-weight: 300;
  line-height: 1.6;
  /* text-align: justify; */
}

.bodyi {
  font-family: var(--font-helvetica), sans-serif;
  font-size: calc(var(--title-font-size) / (1.618 * 3));
  font-weight: 400;
  line-height: 1.6;
  text-align: justify;
  font-style: italic;
}

.bodybi {
  font-family: var(--font-helvetica), sans-serif;
  font-size: calc(var(--title-font-size) / (1.618 * 3));
  font-weight: 500;
  line-height: 1.2;
  text-align: justify;
  font-style: italic;
}

.bodyb {
  font-family: var(--font-helvetica), sans-serif;
  font-size: calc(var(--title-font-size) / (1.618 * 3));
  font-weight: 500;
  line-height: 1.2;
  text-align: justify;
  font-style: normal;
}

.link:hover {
  color: #82a36b;
}

/* Containers */
.container {
  display: flex;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(0.3 * var(--square-size)) 0 0 0;
  gap: calc(var(--square-size) * 0.05);
}

.bodyContainer {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(0.3 * var(--square-size)) calc(var(--square-size) * 0.8);
  gap: calc(var(--square-size) * 0.3);
}

.headingContainer {
  width: 100%;
}
.paraContainer {
  display: flex;
  flex-direction: column;
  padding: calc(0.08 * var(--square-size)) 0;
  gap: calc(var(--square-size) * 0.1);
  width: 100%;
}

.paraContainer1 {
  display: flex;
  flex-direction: column;
  padding: calc(0.08 * var(--square-size)) 0;
  gap: calc(var(--square-size) * 0.05);
  width: 100%;
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 calc(0.4 * var(--square-size));
  gap: calc(var(--square-size) * 0.05);
}

.listContainer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 calc(0.3 * var(--square-size));
  gap: calc(var(--square-size) * 0.05);
}

.personaContainer {
  display: flex;
  gap: calc(var(--square-size) * 0.2);
  justify-content: start;
  align-items: center;
}

.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 calc(0.2 * var(--square-size));
}

.person {
  display: flex;
  flex-direction: column;
  gap: calc(var(--square-size) * 0.1);
}

.flowContainer {
  display: flex;
  justify-content: space-around;
}

.iconText {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: calc(var(--square-size) * 0.08);
}

.icon {
  display: flex;
  width: 24px;
  align-items: center;
  padding-top: calc(0.01 * var(--square-size));
}

.image {
  min-width: calc(var(--square-size));
  min-height: calc(var(--square-size));
}

.image1 {
  width: calc(var(--square-size) * 2);
}

.people {
  display: flex;
  flex-direction: column;
  gap: calc(var(--square-size) * 0.3);
}

/* Responsiveness */
@media (max-width: 768px) {
  .titleContainer {
    padding: calc(0.3 * var(--square-size-m));
    gap: calc(var(--square-size-m) * 0.05);
  }
  .title {
    font-size: var(--title-font-size-m);
    text-shadow: calc(var(--square-size-m) * 0.03)
        calc(var(--square-size-m) * 0.03) 0px var(--slate-grey),
      calc(var(--square-size-m) * 0.055) calc(var(--square-size-m) * 0.055) 0px
        #e9b44c;
    animation: textShadowEaseOutMed 1s ease-out;
  }
  .subtitle {
    font-size: calc(var(--title-font-size-m) / (1.618 * 2));
  }
  .heading {
    font-size: calc(var(--title-font-size-m) / (1.618 * 2));
  }
  .heading1 {
    font-size: calc(var(--title-font-size-m) / (1.618 * 2));
  }
  .heading2 {
    font-size: calc(var(--title-font-size-m) / (1.618 * 3));
  }
  .h2Height {
    height: calc(var(--title-font-size-m) / (1.618 * 2) * 0.8);
    padding-top: calc(var(--title-font-size-m) * 0.02);
  }
  .body {
    font-size: calc(var(--title-font-size-m) / (1.618 * 3));
  }
  .bodyi {
    font-size: calc(var(--title-font-size-m) / (1.618 * 3));
  }
  .bodybi {
    font-size: calc(var(--title-font-size-m) / (1.618 * 3));
  }
  .bodyb {
    font-size: calc(var(--title-font-size-m) / (1.618 * 3));
  }
  .bodyContainer {
    padding: calc(0.1 * var(--square-size-m)) calc(var(--square-size-m) * 0.4);
  }
  .paraContainer {
    padding: calc(0.08 * var(--square-size-m)) 0;
    gap: calc(var(--square-size-m) * 0.1);
  }
  .paraContainer1 {
    padding: calc(0.08 * var(--square-size-m)) 0;
    gap: calc(var(--square-size-m) * 0.1);
  }
  .listContainer {
    padding: 0 calc(0.4 * var(--square-size-m));
    gap: calc(var(--square-size-m) * 0.05);
  }
  .listContainer1 {
    padding: 0 calc(0.3 * var(--square-size-m));
    gap: calc(var(--square-size-m) * 0.05);
  }
  .profileContainer {
    padding: 0 calc(0.2 * var(--square-size-m));
    max-width: calc(var(--square-size-m) * 1.618);
  }
  .person {
    gap: calc(var(--square-size-m) * 0.1);
  }
  .people {
    gap: calc(var(--square-size-m) * 0.3);
  }
  .icon {
    width: 20px;
  }
}

@media (max-width: 640px) {
  .bodyContainer {
    padding: calc(0.1 * var(--square-size-s)) calc(var(--square-size-s) * 0.4);
  }
  .paraContainer {
    padding: calc(0.08 * var(--square-size-s)) 0;
    gap: calc(var(--square-size-s) * 0.1);
  }
  .paraContainer1 {
    padding: calc(0.08 * var(--square-size-s)) 0;
    gap: calc(var(--square-size-s) * 0.08);
  }
  .listContainer1 {
    padding: 0 calc(0.3 * var(--square-size-s));
    gap: calc(var(--square-size-s) * 0.05);
  }
  .listContainer {
    padding: 0 calc(0.3 * var(--square-size-s));
    gap: calc(var(--square-size-s) * 0.05);
  }
  .profileContainer {
    padding: 0 calc(0.2 * var(--square-size-s));
  }
  .person {
    gap: calc(var(--square-size-s) * 0.1);
  }
  .iconText {
    gap: calc(var(--square-size-s) * 0.08);
  }
  .icon {
    width: 18px;
  }
  .flowContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--square-size-s) * 0.5);
  }
}

@media (max-width: 480px) {
  .personaContainer {
    flex-direction: column;
    padding: calc(var(--square-size-s) * 0.2);
    gap: calc(var(--square-size-s) * 0.3);
  }
}
