.sidebarExpanded {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-top: var(--slate-grey) 1px solid;
  width: fit-content;
  aspect-ratio: auto;
  /* height: 100vh; */
  background-color: var(--matcha);
}

.sidebarCollapsed {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-top: var(--slate-grey) 1px solid;
  width: fit-content;
  aspect-ratio: auto;
  background-color: var(--matcha);
}

@media (max-width: 768px) {
  .sidebarExpanded {
    display: none;
  }
  .sidebarCollapsed {
    display: none;
  }
}

.titleContainer {
  width: calc(3 * var(--square-size));
  height: calc(3 * var(--square-size));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: var(--slate-grey) 1px solid;
  padding: calc(0.11 * var(--square-size));
}

.nameContainer {
  padding-top: calc(0.025 * var(--square-size));
  height: calc(var(--title-font-size) * 1.3);
}

.verticalNameContainer {
  width: var(--square-size);
  height: calc(3 * var(--square-size));
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: sideways-lr;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-self: stretch;
  overflow: hidden;
}

.subContainer {
  border-bottom: var(--slate-grey) 1px solid;
  display: flex;
}

.aboutContainer {
  width: calc(2 * var(--square-size));
  height: calc(2 * var(--square-size));
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: calc(0.11 * var(--square-size));
  border-right: var(--slate-grey) 1px solid;
  gap: calc(var(--square-size) * 0.11);
}

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-self: stretch;
}

.pageLinks {
  width: var(--square-size);
  height: var(--square-size);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: calc(var(--square-size) * 0.08);
}

.contactLinks {
  display: flex;
  flex-direction: column;
  width: var(--square-size);
  height: var(--square-size);
  flex-direction: column;
  align-items: start;
  justify-content: end;
  padding: calc(var(--square-size) * 0.08);
  border-top: var(--slate-grey) 1px solid;
}
