.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-bottom: calc(var(--square-size) * 0.2);
}

.bodyContainer {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: calc(var(--square-size) * 0.3);
}

.paraContainer {
  display: flex;
  flex-direction: column;
  padding: calc(0.08 * var(--square-size)) 0;
  gap: calc(var(--square-size) * 0.1);
  width: 100%;
}

.headingContainer {
  width: 100%;
}

.title {
  font-family: var(--font-timetwist), serif; /* Use Timetwist variable */
  font-size: calc(var(--title-font-size) / (1.618));
  font-weight: bold;
  line-height: normal;
  font-style: normal;
}

.heading {
  font-family: var(--font-helvetica), sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  font-size: calc(var(--title-font-size) / (1.618 * 1.5));
  text-transform: uppercase;
}

.heading3 {
  font-family: var(--font-helvetica), sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  font-size: calc(var(--title-font-size) / (1.618 * 3));
}

.body {
  font-family: var(--font-helvetica), sans-serif;
  font-size: calc(var(--title-font-size) / (1.618 * 3));
  font-weight: 300;
  line-height: 1.6;
}

/* Responsiveness */
@media (max-width: 768px) {
  .titleContainer {
    gap: calc(var(--square-size-m) * 0.05);
  }

  .bodyContainer {
    padding: calc(0.1 * var(--square-size-m)) calc(var(--square-size-m) * 0.4);
    width: 80%;
  }
  .paraContainer {
    padding: calc(0.08 * var(--square-size-m)) 0;
    gap: calc(var(--square-size-m) * 0.1);
  }
}

@media (max-width: 640px) {
  .bodyContainer {
    padding: calc(0.1 * var(--square-size-s)) calc(var(--square-size-s) * 0.4);
  }
  .paraContainer {
    padding: calc(0.08 * var(--square-size-s)) 0;
    gap: calc(var(--square-size-s) * 0.1);
  }
}
