# Next .gitignore

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
clientside/node_modules
clientside/.pnp
clientside/.pnp.js
clientside/.yarn/install-state.gz

# testing
clientside/coverage

# next.js
clientside/.next/
clientside/out/

# production
clientside/build

# misc
clientside/.DS_Store
clientside/*.pem

# debug
clientside/npm-debug.log*
clientside/yarn-debug.log*
clientside/yarn-error.log*

# local env files
clientside/.env*.local

# vercel
clientside/.vercel

# typescript
clientside/*.tsbuildinfo
clientside/next-env.d.ts


# Springboot .gitignore

springboot/HELP.md
springboot/.gradle
springboot/build/
springboot/!gradle/wrapper/gradle-wrapper.jar
springboot/!**/src/main/**/build/
springboot/!**/src/test/**/build/

### STS ###
springboot/.apt_generated
springboot/.classpath
springboot/.factorypath
springboot/.project
springboot/.settings
springboot/.springBeans
springboot/.sts4-cache
springboot/bin/
springboot/!**/src/main/**/bin/
springboot/!**/src/test/**/bin/

### IntelliJ IDEA ###
springboot/.idea
springboot/*.iws
springboot/*.iml
springboot/*.ipr
springboot/out/
springboot/!**/src/main/**/out/
springboot/!**/src/test/**/out/

### NetBeans ###
springboot/nbproject/private/
springboot/nbbuild/
springboot/dist/
springboot/nbdist/
springboot/.nb-gradle/

### VS Code ###
springboot/.vscode/
