/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5f5;

  --slate-grey: #353535;
  --marigold: #ffc107;
  --lavender-mauve: #c69bcf;
  --periwinkle: #9c90c3;
  --peach: #f59e5b;
  --matcha: #a3a36d;
  --olive: #48492a;
  --charcoal-olive: #131311

  --square-size: min(calc(100vh / 5), calc(100vw / 8));
  --title-font-size: calc(var(--square-size) * 0.463768116);

  --title-font-size-m: calc(var(--square-size-m) * 0.48);
  --square-size-m: calc(768px/5);

  --title-font-size-s: calc(var(--square-size-s) * 0.48);
  --square-size-s: calc(640px/5);

}

.grey {
  color: var(--slate-grey);
}

.marigold {
  color: var(--marigold);
}

.olive {
  color: var(--olive);
}

.matcha {
  color: var(--matcha);
}

/* Font Styles */
.title-1 {
  font-family: var(--font-timetwist), serif; /* Use Timetwist variable */
  font-size: var(--title-font-size);
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
}

.title-2 {
  font-family: var(--font-timetwist), serif; /* Use Timetwist variable */
  font-size: calc(var(--title-font-size) / 1.618);
  font-weight: normal;
  line-height: normal;
  font-style: italic;
}

.subtitle-1 {
  font-family: var(--font-timetwist), serif; /* Use Timetwist variable */
  font-size: calc(var(--title-font-size) / (1.618 * 2));
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  color: var(--slate-grey);
}

.subtitle-2 {
  font-family: var(--font-timetwist), serif; /* Use Timetwist variable */
  font-size: calc(var(--title-font-size) / (1.618 * 3));
  font-weight: normal;
  line-height: normal;
  text-transform: capitalize;
  color: var(--slate-grey);
}

.link {
  font-family: var(--font-timetwist), serif; /* Use Timetwist variable */
  font-size: calc(var(--title-font-size) / (1.618 * 3));
  font-weight: bold;
  line-height: normal;
  text-transform: capitalize;
  color: var(--marigold);
  will-change: filter, text-shadow;
  transition: filter 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}

.body {
  font-family: var(--font-helvetica), sans-serif; /* Use Helvetica Neue variable */
  font-size: calc(var(--title-font-size) / (1.618 * 3));
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.body-b {
  font-family: var(--font-helvetica), sans-serif; /* Use Helvetica Neue variable */
  font-size: calc(var(--title-font-size) / (1.618 * 3));
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.body-bi {
  font-family: var(--font-helvetica), sans-serif; /* Use Helvetica Neue variable */
  font-size: calc(var(--title-font-size) / (1.618 * 3));
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

.body-small {
  font-family: var(--font-helvetica), sans-serif; /* Use Helvetica Neue variable */
  font-size: calc(var(--title-font-size) / (1.618 * 4));
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.matcha-dropshadow {
  text-shadow: 0px calc(var(--square-size) * 0.105) 0px var(--matcha),
    0px calc(var(--square-size) * 0.072) 0px var(--matcha),
    0px calc(var(--square-size) * 0.038) 0px var(--matcha);
}

.grey-dropshadow {
  text-shadow: 0px calc(var(--square-size) * 0.105) 0px var(--slate-grey),
    0px calc(var(--square-size) * 0.072) 0px var(--slate-grey),
    0px calc(var(--square-size) * 0.038) 0px var(--slate-grey);
}

.lavender-dropshadow {
  text-shadow: 0px calc(var(--square-size) * 0.105) 0px var(--lavender-mauve),
    0px calc(var(--square-size) * 0.072) 0px var(--lavender-mauve),
    0px calc(var(--square-size) * 0.038) 0px var(--lavender-mauve);
}

.periwinkle-dropshadow {
  text-shadow: 0px calc(var(--square-size) * 0.105) 0px var(--periwinkle),
    0px calc(var(--square-size) * 0.072) 0px var(--periwinkle),
    0px calc(var(--square-size) * 0.038) 0px var(--periwinkle);
}

.peach-dropshadow {
  text-shadow: 0px calc(var(--square-size) * 0.105) 0px var(--peach),
    0px calc(var(--square-size) * 0.072) 0px var(--peach),
    0px calc(var(--square-size) * 0.038) 0px var(--peach);
}

.marigold-dropshadow {
  text-shadow: 0px calc(var(--square-size) * 0.105) 0px var(--marigold),
    0px calc(var(--square-size) * 0.072) 0px var(--marigold),
    0px calc(var(--square-size) * 0.038) 0px var(--marigold);
}

/* Font Size Adjustments for Mobile */
@media (max-width: 768px) {
  .title-1 {
    font-size: var(--title-font-size-m);
  }
  .title-2 {
    font-size: calc(var(--title-font-size-m) / 1.618);

  }
  .link {
    font-size: calc(var(--title-font-size-m) / (1.618 * 3));;
  }
 .body {
  font-size: calc(var(--title-font-size-m) / (1.618 * 3));
 }
 .body-b {
  font-size: calc(var(--title-font-size-m) / (1.618 * 3));
 }
 .body-bi {
  font-size: calc(var(--title-font-size-m) / (1.618 * 3));
 }

 .matcha-dropshadow {
  text-shadow: 0px calc(var(--square-size-m) * 0.105) 0px var(--matcha),
    0px calc(var(--square-size-m) * 0.072) 0px var(--matcha),
    0px calc(var(--square-size-m) * 0.038) 0px var(--matcha);
 }
  .grey-dropshadow {
    text-shadow: 0px calc(var(--square-size-m) * 0.105) 0px var(--slate-grey),
      0px calc(var(--square-size-m) * 0.072) 0px var(--slate-grey),
      0px calc(var(--square-size-m) * 0.038) 0px var(--slate-grey);
  }
  .lavender-dropshadow {
    text-shadow: 0px calc(var(--square-size-m) * 0.105) 0px var(--lavender-mauve),
      0px calc(var(--square-size-m) * 0.072) 0px var(--lavender-mauve),
      0px calc(var(--square-size-m) * 0.038) 0px var(--lavender-mauve);
  }
  .periwinkle-dropshadow {
    text-shadow: 0px calc(var(--square-size-m) * 0.105) 0px var(--periwinkle),
      0px calc(var(--square-size-m) * 0.072) 0px var(--periwinkle),
      0px calc(var(--square-size-m) * 0.038) 0px var(--periwinkle);
  }
  .peach-dropshadow {
    text-shadow: 0px calc(var(--square-size-m) * 0.105) 0px var(--peach),
      0px calc(var(--square-size-m) * 0.072) 0px var(--peach),
      0px calc(var(--square-size-m) * 0.038) 0px var(--peach);
  }
  .marigold-dropshadow {
    text-shadow: 0px calc(var(--square-size-m) * 0.105) 0px var(--marigold),
      0px calc(var(--square-size-m) * 0.072) 0px var(--marigold),
      0px calc(var(--square-size-m) * 0.038) 0px var(--marigold);
  }

}

@media (max-width: 640px) {
  .title-1 {
    font-size: var(--title-font-size-s);
  }
  .title-2 {
    font-size: calc(var(--title-font-size-s) / 1.618);
  }
  .link {
    font-size: calc(var(--title-font-size-s) / (1.618 * 3));
  }
 .body {
  font-size: calc(var(--title-font-size-s) / (1.618 * 3));
 }
 .body-b {
  font-size: calc(var(--title-font-size-s) / (1.618 * 3));
 }
 .body-bi {
  font-size: calc(var(--title-font-size-s) / (1.618 * 3));
 }

 .matcha-dropshadow {
  text-shadow: 0px calc(var(--square-size-s) * 0.105) 0px var(--matcha),
    0px calc(var(--square-size-s) * 0.072) 0px var(--matcha),
    0px calc(var(--square-size-s) * 0.038) 0px var(--matcha);
 }
 .grey-dropshadow {
    text-shadow: 0px calc(var(--square-size-s) * 0.105) 0px var(--slate-grey),
      0px calc(var(--square-size-s) * 0.072) 0px var(--slate-grey),
      0px calc(var(--square-size-s) * 0.038) 0px var (--slate-grey);
 }
 .lavender-dropshadow {
    text-shadow: 0px calc(var(--square-size-s) * 0.105) 0px var(--lavender-mauve),
      0px calc(var(--square-size-s) * 0.072) 0px var(--lavender-mauve),
      0px calc(var(--square-size-s) * 0.038) 0px var(--lavender-mauve);
 }
 .periwinkle-dropshadow {
  text-shadow: 0px calc(var(--square-size-s) * 0.105) 0px var(--periwinkle),
    0px calc(var(--square-size-s) * 0.072) 0px var(--periwinkle),
    0px calc(var(--square-size-s) * 0.038) 0px var(--periwinkle);
 }
 .marigold-dropshadow {
    text-shadow: 0px calc(var(--square-size-s) * 0.105) 0px var(--marigold),
      0px calc(var(--square-size-s) * 0.072) 0px var(--marigold),
      0px calc(var(--square-size-s) * 0.038) 0px var(--marigold);
 }
 .peach-dropshadow {
    text-shadow: 0px calc(var(--square-size-s) * 0.105) 0px var(--peach),
      0px calc(var(--square-size-s) * 0.072) 0px var(--peach),
      0px calc(var(--square-size-s) * 0.038) 0px var(--peach);
 }
}


/* Container Styles */
 .page-layout {
  display: flex;
  flex-direction: row;;
 }

.page {
  position: relative;
  overflow-y: auto;
  height: 100vh;
  scroll-behavior: smooth;
  max-height: 100vh;
}

.projects-container {
  display: flex;
  flex-direction: column;
  padding: calc(var(--square-size) * 0.2) calc(var(--square-size) * 0.4);
  gap: calc(var(--square-size) * 0.2);
}

.page-title-container {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;;
  height: fit-content;
  width: 100%;
  padding: calc(var(--square-size) * 0.4) 0 0 0;
  pointer-events: none;
  background-color: transparent;
}

.arrow {
  color: var(--slate-grey);
  image-rendering: crisp-edges; /* Fallback for older browsers */
  image-rendering: pixelated; /* Preferred for nearest-neighbor resizing */
  max-width: calc(var(--title-font-size) / (1.618 * 5));
  max-height: calc(var(--title-font-size) / (1.618 * 5));
}

.scrolling-container {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  height: calc(
    (var(--title-font-size) / (1.618 * 2) + 0.025 * var(--square-size))
  );
  padding-top: calc(0.025 * var(--square-size));
}

@media (max-width: 768px) {
  .page-layout {
    flex-direction: column;
  }
  .scrolling-container {
    height: calc(
      (var(--title-font-size-m) / (1.618 * 2))
    );
  }
  .page-title-container {
    padding: calc(var(--square-size-m) * 0.4) 0 0 0;
  }
  .projects-container {
    padding: calc(var(--square-size-m) * 0.2) calc(var(--square-size-m) * 0.4);
    gap: calc(var(--square-size-m) * 0.2);
  }
  .arrow {
    width: calc(var(--square-size-m) * 0.1);
    height: calc(var(--square-size-m) * 0.1);
  }
}

@media (max-width: 640px) {
  .page-layout {
    flex-direction: column;
  }
  .scrolling-container {
    height: calc(
      (var(--title-font-size-s) / (1.618 * 2))
    );
  }
  .page-title-container {
    padding: calc(var(--square-size-s) * 0.4) 0 0 0;
  }
  .projects-container {
    padding: calc(var(--square-size-s) * 0.2) calc(var(--square-size-s) * 0.3);
    gap: calc(var(--square-size-s) * 0.2);
  }
  .arrow {
    width: calc(var(--square-size-s) * 0.1);
    height: calc(var(--square-size-s) * 0.1);
  }
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

/* Animation styles */
.scrolling-text {
  white-space: nowrap;
  animation: scroll 40s linear infinite;
  animation-timing-function: ease-in-out;
}

.scrolling-text:hover {
  animation-play-state: paused;
  cursor: default;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

