@import "tailwindcss";

:root {
  --background: #f5f5f5;

  --slate-grey: #3a3a3a;
  --marigold: #ffc107;
  --lilac: #b28dff;
  --matcha: #a8d08d;
}

/* Timetwist font face */
@font-face {
  font-family: "Timetwist";
  src: url("/fonts/timetwist-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Timetwist";
  src: url("/fonts/timetwist-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Timetwist";
  src: url("/fonts/timetwist-italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Helvetica Neue font face */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueHeavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueHeavyItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueMediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueRoman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueUltraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueUltraLightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Font Styles */
.page-title {
  font-family: "Timetwist", serif;
  font-size: 6rem;
  font-weight: bold;
  color: var(--slate-grey);
}

.subheading-1 {
  font-family: Timetwist;
  font-size: 1.33694rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  color: var(--slate-grey);
}

.body-text {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.41rem;
  font-weight: 300;
  color: var(--slate-grey);
}

.body-small {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 0.87rem;
  font-weight: 300;
  color: var(--slate-grey);
}

.scroll-italic {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.41rem;
  font-weight: 500;
  color: var(--slate-grey);
  font-style: italic;
}

.scrolling-text {
  white-space: nowrap;
  animation: scroll 60s linear infinite;
  animation-timing-function: ease-in-out;
}

.scrolling-text:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Containers */
/* .layout {
  display: flex;
} */

.scrolling-text-container {
  overflow: hidden;
  width: 100%;
  display: flex;
}

.sidebar {
  flex: 0 0 38.2%;
}
