/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5f5;

  --slate-grey: #3a3a3a;
  --marigold: #ffc107;
  --lilac: #b28dff;
  --matcha: #a8d08d;

  --square-size: min(calc(100vh / 5), calc(100vw / 8));
  --h1-font-size: 6rem !important;
}

/* Timetwist font face */
@font-face {
  font-family: "Timetwist";
  src: url("/fonts/Timetwist-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
}
@font-face {
  font-family: "Timetwist";
  src: url("/fonts/Timetwist-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
}
@font-face {
  font-family: "Timetwist";
  src: url("/fonts/Timetwist-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
}

/* Helvetica Neue font face */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueHeavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueHeavyItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueMediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueRoman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueUltraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueUltraLightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Font Styles */
.title-1 {
  font-family: "Timetwist", serif;
  font-size: var(--h1-font-size);
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
  /* text-shadow: -11px 0px 0px var(--marigold); */
  /* color: var(--slate-grey); */
}
.subtitle-2 {
  font-family: "Timetwist", serif;
  font-size: calc(var(--h1-font-size) / (1.618 * 3));
  font-weight: normal;
  line-height: normal;
  text-transform: capitalize;

  color: var(--slate-grey);
}

.link {
  font-family: "Timetwist", serif;
  font-size: calc(var(--h1-font-size) / (1.618 * 3));
  font-weight: bold;
  line-height: normal;
  text-transform: capitalize;

  color: var(--background);

  -webkit-text-stroke-color: var(--slate-grey);
  -webkit-text-stroke-width: 1.5px;
}

.link:hover,
.page-selected {
  color: var(--marigold);
  -webkit-text-stroke-color: var(--slate-grey);
  -webkit-text-stroke-width: 1.5px;
  text-shadow: 4px 0px 0px var(--slate-grey);
}

.body {
  color: var(--slate-grey);

  font-family: "Helvetica Neue", sans-serif;
  font-size: calc(var("--h1-font-size") / (1.618 * 3));
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.body-b {
  color: var(--slate-grey);
  font-family: "Helvetica Neue", sans-serif;
  font-size: calc(var("--h1-font-size") / (1.618 * 3));
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.body-bi {
  color: var(--slate-grey);
  font-family: "Helvetica Neue", sans-serif;
  font-size: calc(var("--h1-font-size") / (1.618 * 3));
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

.body-small {
  color: var(--slate-grey);
  font-family: "Helvetica Neue", sans-serif;
  font-size: calc(var("--h1-font-size") / (1.618 * 4));
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* Container Styles */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: var(--slate-grey) 1px solid;
  width: fit-content;
  aspect-ratio: auto;
  height: 100vh;
  background-color: var(--background);
}

.title-container {
  width: calc(3 * var(--square-size));
  height: calc(3 * var(--square-size));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centers content within the container */
}

.name-container {
  display: flex;
  flex-wrap: wrap; /* Allows content to wrap and fit within the container */
  justify-content: center; /* Centers content horizontally */
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto; /* Adjusts height dynamically to fit within the title-container */
  gap: 1.25rem;
  max-height: 96%; /* Ensures it doesn't exceed the title-container's height */
  box-sizing: border-box; /* Includes padding and border in size calculations */
}

.image-container {
  display: flex;
  justify-content: center;
  align-self: stretch;
  overflow: hidden;
}

.scrolling-container {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  height: 1.5rem;
}

.about-container {
  width: calc(2 * var(--square-size));
  height: calc(2 * var(--square-size));
}

/* .nav-container {
} */

.page-links {
  width: var(--square-size);
  height: var(--square-size);
}

.contact-links {
  gap: 0.5rem;
  width: var(--square-size);
  height: var(--square-size);
}

/* Image styles */
.arrow {
  color: var(--slate-grey);
  image-rendering: crisp-edges; /* Fallback for older browsers */
  image-rendering: pixelated; /* Preferred for nearest-neighbor resizing */
}

/* Animation styles */
.scrolling-text {
  white-space: nowrap;
  animation: scroll 40s linear infinite;
  animation-timing-function: ease-in-out;
}

.scrolling-text:hover {
  animation-play-state: paused;
  cursor: default;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
